SetEnv SERVICECREDS /home/aaron/github/acilos/src/private/config/serviceCreds.json
SetEnv PUBLICQUERYTERMOBJ /home/aaron/github/acilos/src/private/config/publicQueryTermObj.json
SetEnv LOCALQUERYTERMOBJ /home/aaron/github/acilos/src/private/config/localQueryTermObj.json
SetEnv APPSETTINGS /home/aaron/github/acilos/src/private/settings/appSettings.json
SetEnv BACKUPDATA /home/aaron/github/acilos/src/private/config/backupData.json
SetEnv SERVICECREDSBACKUP /home/aaron/github/acilos/src/private/config/serviceCredsBackup.json
